#testEl {
	--breakpoint: small;
}[data-selector="#testEl__detectBreakpoint__"]:before {
	content: "small";
	display: none
}

@media all and (min-width: 40em) {
	#testEl {
		--breakpoint: medium;
	}
	[data-selector="#testEl__detectBreakpoint__"]:before {
	content: "medium";
	display: none
}
}

@media all and (min-width: 75em) {
	#testEl {
		--breakpoint: large;
	}
	[data-selector="#testEl__detectBreakpoint__"]:before {
	content: "large";
	display: none
}
}